%button {
    padding: .9em 2em;
    font-weight: 700;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent);
    border: 1px solid transparent;
    border-radius: var( --btn-radius);
    transition: opacity .6s;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}
.button {
    --btn-radius: 5px;
    @extend %button;
    &Rounded {
        --btn-radius: 20px;
        @extend %button;
    }
}
.copied {
    background-color: var(--clr-neutral-900);
}