
.title{
    margin-top: 0;
font-size: 1rem;

font-weight: 500;
}

.list{

    text-align: center;
font-weight: 300;
    font-size: .9rem;
    &Item:hover{
        color: var(--clr-accent);
    }
}

.a {
    color: var(--clr-neutral-300);
    line-height: 1.8;
    line-height: 2;
}
@media only screen and (min-width: 600px) {
    .list{
 
        text-align: left;
    }   
  }