.link{
    &:not(:last-child){
        margin-right: 20px;
    }
    &:hover{
        filter:brightness(0) 
                saturate(100%) 
                invert(85%) 
                sepia(59%) 
                saturate(1036%) 
                hue-rotate(134deg) 
                brightness(83%) 
                contrast(94%);
    }
    &s {
        padding-top: 2em;
    }
}

@media only screen and (min-width: 600px) {
    .links {
        padding-top: 0;
    }   
}